@import "tailwindcss";

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.ck-editor__editable{
  height: 300px;
}
@layer utilities {
  .status-pending {
    @apply bg-gray-100 text-gray-700;
  }
  .status-in-progress {
    @apply bg-yellow-100 text-yellow-700;
  }
  .status-completed {
    @apply bg-green-100 text-green-700;
  }
  .priority-low {
    @apply bg-green-100 text-green-700;
  }
  .priority-medium {
    @apply bg-yellow-100 text-yellow-700;
  }
  .priority-high {
    @apply bg-red-100 text-red-700;
  }
  .fancy-text{
    @apply bg-gradient-to-r from-purple-600 to-blue-600 bg-clip-text text-transparent;
  }
  .fancy-bg{
    @apply bg-gradient-to-r from-purple-600 to-blue-600;
  }
  .edit-btn{
    @apply p-2 text-indigo-600 hover:text-white hover:bg-gradient-to-r hover:from-indigo-500 hover:to-purple-500 rounded-xl transition-all duration-300 hover:scale-105 hover:rotate-12 hover:shadow-lg;
  }
  .delete-btn{
    @apply p-2 text-red-600 hover:text-white hover:bg-gradient-to-r hover:from-red-500 hover:to-pink-500 rounded-xl transition-all duration-300 hover:scale-105 hover:-rotate-12 hover:shadow-lg;
  }
}
