@import "tailwindcss";
@plugin "@tailwindcss/typography";

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.ck-editor__editable {
  @apply prose max-w-none;
  min-height: 160px;
}
.ck.ck-editor {
  border-radius: 2rem !important; /* rounded-xl */
  overflow: hidden !important;
}

.ck.ck-editor__editable.ck-focused {
  border : 0 !important;
  box-shadow: 0 0 0 2px rgba(124, 58, 237, 0.25) !important;
}

.ck.ck-toolbar {
  border-bottom: 1px solid #e5e7eb !important;
  background-color: #fafafa !important; /* gray-50 */
}
.ck-content{
  padding: 5px!important;
}
.ck-content ul,
.ck-content ol{
  padding-left: 1.2rem !important;
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}
.ck-content p {
  margin:0 !important;
}
.ck-content blockquote, blockquote {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.ck-content li {
  margin-left: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mention {
  background-color: #e0f2fe;
  color: #1e40af;
  padding: 1px 4px;
  border-radius: 4px;
  font-weight: 500;
}

ul, li, ol {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

@layer utilities {
  .status-pending {
    @apply bg-gray-100 text-gray-700;
  }
  .status-in-progress {
    @apply bg-yellow-100 text-yellow-700;
  }
  .status-completed {
    @apply bg-green-100 text-green-700;
  }
  .priority-low {
    @apply bg-green-100 text-green-700;
  }
  .priority-medium {
    @apply bg-yellow-100 text-yellow-700;
  }
  .priority-high {
    @apply bg-red-100 text-red-700;
  }
  .fancy-text{
    @apply bg-linear-to-r from-purple-600 to-blue-600 bg-clip-text text-transparent;
  }
  .fancy-bg{
    @apply bg-linear-to-r from-purple-600 to-blue-600;
  }
  .edit-btn{
    @apply p-2 text-indigo-600 hover:text-white hover:bg-linear-to-r hover:from-indigo-500 hover:to-purple-500 rounded-xl transition-all duration-300 hover:scale-105 hover:rotate-12 hover:shadow-lg;
  }
  .delete-btn{
    @apply p-2 text-red-600 hover:text-white hover:bg-linear-to-r hover:from-red-500 hover:to-pink-500 rounded-xl transition-all duration-300 hover:scale-105 hover:-rotate-12 hover:shadow-lg;
  }
  .tag-pill{
    @apply text-xs font-medium px-2 py-1 rounded-md;
    /* @apply px-2 py-0.5 bg-purple-50 text-purple-700 rounded-md text-xs font-medium; */
  }
  .tag-pill-0{
    @apply bg-indigo-50 text-indigo-700;
  }
  .tag-pill-1{
    @apply bg-purple-50 text-purple-700;
  }
  .description-box{
    @apply prose max-w-none bg-linear-to-br from-gray-50 to-gray-100 cursor-all-scroll rounded-xl p-4 text-sm text-gray-700 leading-relaxed shadow-inner flex-1 overflow-y-auto;
  }
}
